!!!
%html{:lang => :zh}
  %head
    %title pinidea
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no'}

    %meta{:name => 'description', :content => '用来测试对一些电商网站商品页面的主要信息解析提取的服务，这是一个测试页面'}
    %mata{:name => 'keywords', :content => 'mindpin,网址解析,测试,公共服务'}
    
    %meta{:property => 'og:type', :content => 'product'}
    %meta{:property => 'og:url', :content => 'http://urlinfo.4ye.me'}
    %meta{:property => 'og:title', :content => 'MINDPIN 网址解析服务测试页'}
    %meta{:property => 'og:description', :content => '用来测试对一些电商网站商品页面的主要信息解析提取的服务，这是一个测试页面'}
    %meta{:property => 'og:image', :content => 'http://img.teamkn.com/i/kLlhXNlr.png'}

    %link{:rel => 'stylesheet', :href => '../css/ui.css'}

    :ruby
      lib_path = "../../../lib"

    %script{:type => 'text/javascript', :src => "#{lib_path}/jquery-2.1.1.min.js"}

    %script{:type => 'text/javascript', :src => "../js/ui.js"}

  %body
    .container-full
      .row
        .col-pad-12
          .layout-content
            = yield