= Haml::Engine.new(File.read "#{Dir.pwd}/pinidea/src/partial/app.haml").render do
  - capture_haml do
    .page-landing{:data => {:nav => :home, :title => '议题大厅'}}
      .filter
        %a.item.newest.active{:href => 'javascript:;'}
          %span 最新
        %a.item.hotest{:href => 'javascript:;'}
          %span 最热

      .list-bg
      .topics.list
        %a.topic{:href => 'home-2-topic.html'}
          .creator
            .avatar
              %img{:src => 'http://img.teamkn.com/i/y4tvQ9SD.png@80w'}
          .data
            .title 
              %span.creator-name 石酷：
              %span.text“扇贝单词”有哪些令你印象深刻的地方？
            .options
              .option 可以从自己已背过的单词库随机出题...
              .option 利用测试单词量功能，迅速了解自己...
              .option PC网页，安卓，苹果都支持！
          .joiner-count 20

        %a.topic{:href => 'home-2-topic.html'}
          .creator
            .avatar
              %img{:src => 'http://img.teamkn.com/i/mQTXjy9m.png@80w'}
          .data
            .title 
              %span.creator-name 月如卡卡：
              %span.text 你喜欢什么口味的豆腐脑？
            .options
              .option 甜的，我是南方人。
              .option 咸的，我是北方人。
              .option 咸的，我是南方人。
          .joiner-count 18

        %a.topic{:href => 'home-2-topic.html'}
          .creator
            .avatar
              %img{:src => 'http://img.teamkn.com/i/RTB15zIX.png@80w'}
          .data
            .title 
              %span.creator-name 洋气书生：
              %span.text 你觉得一度赞方便面口味怎样？
            .options
              .option 没吃过诶。
              .option 太油了。
              .option 挺好的！比一般方便面强！
          .joiner-count 9

        .loading 读取中…