= Haml::Engine.new(File.read "#{Dir.pwd}/pinidea/src/partial/detail.haml").render do
  - capture_haml do
    .page-me.detail{:data => {:nav => :me}}
      .header
        .set.info
          .item.back
            %a.back{:href => 'me-0-config.html'}
              %i.fa.fa-chevron-left
            .title 我参与的议题
      .info-detail
        .topics
          %a.topic{:href => 'home-2-topic.html'}
            .data
              .title “扇贝单词”有哪些令你印象深刻的地方？
              .options
                .option 可以从自己已背过的单词库随机出题...
                .option 利用测试单词量功能，迅速了解自己...
                .option PC网页，安卓，苹果都支持！
            .joiner-count 20

          %a.topic{:href => 'home-2-topic.html'}
            .data
              .title 看到巴巴爸爸作者去世的消息，你想起什么？
              .options
                .option 他们是巴巴爸爸，巴巴妈妈，巴巴拉拉，巴巴利…
                .option 小的时候很羡慕它们可以变来变去
                .option 可里可里可里，巴巴变！
            .joiner-count 18

          %a.topic{:href => 'home-2-topic.html'}
            .data
              .title 你觉得一度赞方便面口味怎样？
              .options
                .option 没吃过诶。
                .option 太油了。
                .option 挺好的！比一般方便面强！
            .joiner-count 9