= Haml::Engine.new(File.read "#{Dir.pwd}/pinidea/src/partial/detail.haml").render do
  - capture_haml do
    .page-me.detail{:data => {:nav => :me}}
      .header
        .set.info
          .item.back
            %a.back{:href => 'me-0-config.html'}
              %i.fa.fa-chevron-left
            .title 关于我们
      .info-detail
        .about-us
          这里的内容等集成完了再写吧